/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header */
.content-container {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #15304c;
  height: 70px;
}

.logo {
  flex-grow: 1;
}

.logo img {
  width: 200px;
  margin-left: 20px;
}

nav {
  margin-right: 30px;
}

nav li {
  display: inline-block;
  list-style-type: none;
  padding: 20px;
}

header nav li:hover {
  background-color: #081c30;
}

nav a {
  color: white;
  text-decoration: none;
}

.menu-icon {
  margin-right: 30px;
  display: none;
}

/* Welcome section */
.welcome {
  background-image: url(img/background.webp);
  min-height: calc(100vh - 70px);
  background-size: cover;
  background-position: center;
}

@media (max-width: 600px) {
  header {
    position: relative;
  }

  header nav {
    display: none;
    position: absolute;
    top: 70px;
    background-color: #15304c;
    width: 100%;
  }

  header nav li {
    display: block;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 0;
  }

  .menu-icon {
    display: block;
    color: white;
    font-size: 23px;
  }
}

@media (min-width: 600px) {
  header nav {
    display: block !important;
  }
}
